.imageLeft_text { padding: 64px 0px;}
	.imageLeft_text img { height: 150px; width: 150px; display: inline-block; position: relative; left: -15%; top: 0px;}
	.imageLeft_text p { display: inline-block; position: relative; text-align: left;  box-sizing: border-box; max-width: 600px; line-height: 32px; padding: 0px 9px; font-size: 16px; font-weight: 300;}
